<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.katza.calmind">

    <!-- Permission לאינטרנט -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:theme="@style/Theme.CalMind">

        <activity
            android:name=".loginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- HomeActivity → אין intent-filter -->
        <activity
            android:name=".homeActivity"
            android:exported="false"/>

        <!-- AddEventActivity → אין intent-filter -->
        <activity
            android:name=".AddEventActivity"
            android:exported="false"/>

    </application>

</manifest>
